@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --verde-principal: #00B925;
    --cinza-fundo: #d9d9d9;
    --fonte-titulos: "Montserrat", sans-serif;
    --fonte-escrita: "Roboto", sans-serif;
}

.container-geral{
    width: 100%;
    height: auto;
    background-color: var(--cinza-fundo);
    margin-top: -72px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo{
    width: 1200px;
    margin: 0 auto;
    background-color: var(--verde-principal);
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.conteudo h1{
    font-family: var(--fonte-titulos);
    font-size: 40px;
    text-align: center;
    padding: 25px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.403);

}

.conteudo p{
    font-family: var(--fonte-escrita);
    font-size: 25px;
    text-align: justify;
    padding: 0px 15px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.19)
}

.container-geral h2{
    font-family: var(--fonte-titulos);
    font-size: 3.5rem;
    background-color: var(--verde-principal);
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.403);
    margin-bottom: 25px;
}

.parceiros{
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card1 img, .card2 img, .card3 img, .card4 img{
    width: 100%;
    height: 150px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.292);
}

.card1 img:hover, .card2 img:hover, .card3 img:hover, .card4 img:hover{
    box-shadow: 4px 4px 4px var(--verde-principal);
}

.nomes{
    font-family: var(--fonte-escrita);
    font-size: 2.2rem;
    background-color: rgba(0, 0, 0, 0.319);
    border-radius: 10px;
    color:white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.403);
    margin: 5px;
    padding: 10px;
}

.funcao{
    font-family: var(--fonte-escrita);
    font-size: 1.8rem;
    background-color: var(--verde-principal);
    border-radius: 10px;
    color:white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.403);
    margin-bottom: 5px;
    padding: 5px;
}

.descricao{
    font-family: var(--fonte-escrita);
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.319);
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.equipe{
    margin-top: 40px;
}

.forms-parceiros{
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.295);
}

label{
    font-family: var(--fonte-escrita);
    font-size: 2rem;
    color:white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.403);
}

.espaco{
    margin-bottom: 15px;
}

.container-botao-retorno{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.botao-retorno{
    margin-right: 50px;
    margin-bottom: 25px;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    border-radius: 50%;
    color: white;
    background-color: var(--verde-principal);
    border: none;
}

.botao-retorno:hover{
    cursor: pointer;
    width: 55px;
    height: 55px;
    font-size: 3.5rem;
    transition: 0.3s ease-in-out;
}