@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --verde-principal: #00B925;
    --cinza-fundo: #d9d9d9;
    --fonte-titulos: "Montserrat", sans-serif;
    --fonte-escrita: "Roboto", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 10px;
}

a{
    color:white;
    text-decoration: none;
}

body{
    background-color: var(--cinza-fundo);
}

header{
    height: 215px;
    background-color: var(--verde-principal);
    display: block;
    position: relative;
}

.logo {
    text-align: center;
}

.navbar{
    background-color: #ffffff;
    display: block;
    height: 93px;
    width: 100%;
    margin-bottom: 72px;
    font-family: var(--fonte-titulos);
}

div > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding-top: 20px;
}

.menu a {
    color: black;
    font-size: 4rem;
}

.menu a:hover {
    font-size: 4.1rem;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.401);
}

#burguer{
    display: none;
}

.container1 {
    width: 1519.2px;
    height: 481px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.imagem-neto{
    height: 481px;
    width: 904px;
    margin-left: 92px;
    margin-bottom: 100px;
    position: relative;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.imagem-neto:hover{
    width: 910px;
    height: 485px;
    cursor: pointer;
}

.imagem-neto h1{
    max-width: 100%;
    padding: 10px 0px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.15);
    font-family: var(--fonte-titulos);
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.803);
}

.noticias-laterais{
    width: 309px;
    height: 473px;
    position: absolute;
    right: 93px;
}

.noticias-laterais>h2{
    font-size: 2.5rem;
    font-family: var(--fonte-titulos);
    font-weight: bold;
}

.noticias-laterais ul{
    display: flex;
    flex-direction: column;
}

.noticias-laterais li{
    font-size: 2.5rem;
    font-family: var(--fonte-escrita);
    margin-top: 20px;
}

.noticias-laterais a{
    color: black;
}

.container2{
    width: 897px;
    height: 400px;
    display: flex;
    margin: 79px 0 45px 93px;
}

.noticia-secundaria{
    width: 466px;
    height: 400px;
    position: relative;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.noticia-secundaria img{
    width: 100%;
    height: 100%;
}

.noticia-secundaria h2{
    background-color: rgba(0, 0, 0, 0.15);
    color: white;
    width: 100%;
    padding: 10px 0px;
    position: absolute;
    bottom: 0px;
    font-size: 2.5rem;
    font-family: var(--fonte-titulos);
    text-shadow: 4px 4px 4px black;
    text-align: center;
}

.noticia-secundaria:hover{
    width: 470px;
    height: 402px;
    cursor: pointer;
}

.noticia-terciaria{
    width: 338px;
    height: 400px;
    margin-left: 93px;
    position: relative;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.noticia-terciaria img{
    width: 100%;
    height: 100%;
}

.noticia-terciaria h2{
    width: 100%;
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0px;
    color: white;
    font-family: var(--fonte-titulos);
    font-size: 2.5rem;
    text-shadow: 4px 4px 4px black;
    text-align: center;
}

.noticia-terciaria:hover{
    width: 343px;
    height: 402px;
    cursor: pointer;
}

.resultados-jogos{
    width: 309px;
    height: 901px;
    position: absolute;
    left: 1118px;
    top: 940px;
    font-family: var(--fonte-titulos);
    font-size: 2.1rem;
    display: flex;
    flex-direction: column;
}

.jogos{
    margin: 10px 0px;
}

.jogos img{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.video-ale{
    margin-left: 164px;
    margin-bottom: 100px;
}

.video-ale p {
    font-size: 1.2em;
    font-weight: bold;
    font-family: var(--fonte-escrita);
}

.hr{
    width: 1517.6px;
}

.fixo-propaganda{
    width: 1517.6px;
}

.container-propaganda{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.publi-principal{
    margin: 20px 0;
    font-family: var(--fonte-titulos);
    font-size: 2rem;
}

.container3{
    width: 1261px;
    height: 350px;
    margin-top: 89px;
    margin-left: 93px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 61px;
}

.melhor-jogador{
    width: 710px;
    height: 350px;
    background-color: azure;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    position: relative;
}

.melhor-jogador h2{
    width: 100%;
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    position: absolute;
    bottom: 0px;
    font-size: 4rem;
    font-family: var(--fonte-titulos);
    text-align: center;
    text-shadow: 4px 4px 4px black;
}

.aposta{
    width: 385px;
    height: 297px;
    color: white;
    display: flex;
    flex-direction: column;
}

.titulo-aposta{
    width: 385px;
    height: 75.88px;
    background-color: black;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 4px 4px 15px rgba(0 , 0, 0, 0.5);
}

.titulo-aposta h3{
    font-family: var(--fonte-titulos);
    font-size: 2.5rem;
}

.corpo-aposta{
    width: 385px;
    height: 212.03px;
    background-color: black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 15px rgba(0 , 0, 0, 0.5);
}

.corpo-aposta > .times{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

.times :nth-child(2){
    margin-top: 8px;
    margin-bottom: 40px;
    font-size: 3rem;
    font-family: var(--fonte-escrita);
}

.botao-escolha{
    display: flex;
    justify-content: center;
}

.botao-config{
    margin: 0px 15px;
    padding: 15px;
    border-radius: 12px;
}

.botao-config:hover{
    cursor: pointer;
}

.container-botao-retorno{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.botao-retorno{
    margin-right: 50px;
    margin-bottom: 25px;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    border-radius: 50%;
    color: white;
    background-color: var(--verde-principal);
    border: none;
}

.botao-retorno:hover{
    cursor: pointer;
    width: 55px;
    height: 55px;
    font-size: 3.5rem;
    transition: 0.3s ease-in-out;
}

footer {
    height: 230px;
    width: 100%;
    background-color: var(--verde-principal);
    color: white;
}

footer .container4{
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container4 .sobre{
    width: 180px;
    font-size: x-large;
}

.sobre li:hover{
    text-decoration: underline;
    font-size: 1.01em;
    text-shadow: 2px 2px 20px black;
}

.container4 h3{
    margin-bottom: 10px;
    font-family: var(--fonte-titulos);
}

.container4 ul li{
    margin-left: 18px;
    line-height: 1.5em;
    font-family: var(--fonte-escrita);
}

.redes-sociais{
    width: 400px;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.8em;
    font-family: var(--fonte-escrita);
}

.insta{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.youtube{
    display: flex;
    flex-direction: row;
}

.copyright{
    height: 120px;
    font-size: large;
    width: 350px;
    margin-top: 20px;
    font-family: var(--fonte-escrita);
}

@media (max-width:830px){
    #burguer{
        display: block;
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;
    }

    .navbar{
        display: none;
    }

    .container1{
        display: block;
        width: 100%;
        height: auto;
    }

    .imagem-neto{
        width: 500px;
        height: 200px;
        margin: auto;
        margin-top: 30px;
    }

    .imagem-neto a img{
        width: 100%;
        height: 100%;
    }

    .imagem-neto:hover{
        width: 510px;
        height: 210px;
    }

    .imagem-neto a img:hover{
        width: 510px;
        height: 210px;
    }

    .imagem-neto h1{
        font-size: 2rem;
    }

    .noticias-laterais{
        display: block;
        position: static;
        margin: 40px auto;
    }

    .container2{
        width: 100%;
        height: auto;
        flex-direction: column;
        margin: 0 auto;
    }

    .noticia-secundaria{
        align-self: center;
        margin-bottom: 30px;
    }

    .noticia-terciaria{
        margin: 0;
        align-self: center;
    }

    .resultados-jogos{
        position: static;
        margin: 60px auto;
    }

    .video-ale{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .video-ale iframe{
        width: 500px;
        height: 350px;
        margin-top: 50px;
    }
}